<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897083396063-iloe73jfel7gj5kjath7l75f8v8s01d6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897083396063-iloe73jfel7gj5kjath7l75f8v8s01d6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>897083396063-hur7fkib2u4rv33ea1pihnladuuegvke.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDxPkT8wFi6GuOzda0cbW2xTdZXctjZf-E</string>
	<key>GCM_SENDER_ID</key>
	<string>897083396063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gabrielcode.absorb</string>
	<key>PROJECT_ID</key>
	<string>absorb-34b0e</string>
	<key>STORAGE_BUCKET</key>
	<string>absorb-34b0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897083396063:ios:1010835559ba25eefc3e6a</string>
</dict>
</plist>